<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.rich2012cafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="15"/>
    <uses-sdk android:minSdkVersion="13" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".CaffeineFinder"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MapView" android:label="@string/map_act"
                  android:theme="@android:style/Theme.Holo">

         </activity>

         <activity android:name=".activities.JonText" android:label="@string/app_name"
                   android:theme="@android:style/Theme.Holo">

         </activity>
                  <activity android:name=".activities.UserInterface" android:label="@string/app_name"
                   android:theme="@android:style/Theme.Holo">

         </activity>
                  <activity android:name=".activities.Settings" android:label="@string/app_name"
                   android:theme="@android:style/Theme.Holo">

         </activity>
                   <activity android:name=".activities.ListSources" android:label="@string/app_name">
        </activity>
        
         <activity android:name=".activities.Preferences" android:label="@string/app_name">
        </activity>
                  
    </application>

</manifest>